.main-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    margin-left: 93px;
}

.menu__item + .menu__item {
    margin-left: 50px;
}

.menu .current {
    color: var(--brand-color);
}

.current {
    position: relative;
}
.current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--brand-color);
    border-radius: 2px;
}

.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    color: var(--title-color); 
}

.connect {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.connect__link {
    display: flex;
    align-items: center;
}

.connect__item + .connect__item {
    margin-left: 50px;
}

.connect__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--text-color);
}

.connect__icon {
    margin-right: 10px;
    fill: var(--text-color);
}

.menu a,
.connect a{
    transition: color var(--time-duration) var(--timing-function);
}
 
.menu a:hover,
.menu a:focus,
.connect a:hover,
.connect a:focus {
    color: var(--brand-color);
}

.link .connect__icon {
    transition: fill var(--time-duration) var(--timing-function);
}

.link:hover .connect__icon,
.link:focus .connect__icon {
    fill: var(--brand-color);
}

.top-site {
    border-bottom: 1px solid #ECECEC;
}